PORT=8001

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456
DB_DATABASE=auth

DEFAULT_PASSWORD=123454
JWT_SECRET=SHARE_CARD_GOOD
TOKEN_EXPIRATION_TIME=7d
IS_ONLY_SINGLE_USER_SIGN=false

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=1232412351
REDIS_DB=0

IS_PROXY=true
PROXY_URL=127.0.0.1:7890